---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: required

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - pip install ansible

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

script:
  # Test for Syntax
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    --syntax-check
  # Test for Failure
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    --connection=local
  # Test for Idempotence
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    --connection=local
    | grep -q 'changed=0.*failed=0'

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
